body {
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    margin: 5px auto 10px;
    border-radius: 7px;
    background-color: #B2B2CC;
    display: block;
    float: left;
    list-style-type:none;
    font-family: Cicle;
}

nav a:link, nav a:visited {
    color:#121214;
    display:block;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
}

nav a:hover, nav a:active {
    color:#00006B;
}

nav li {
    float:left;
    padding-right: .75em;
    padding-left: .75em;
}

header {
    clear: both;
}

.content {
    height: 100%;
    /*clear: both;*/
}

.overlay {
    z-index: 1001;
    background-color: #000000;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    opacity: .5;
}

.popup {
    z-index: 1002;
    display: none;
    position:   absolute;
    top: 20%;
}

.close {
    font-weight: bolder;
    font-size: xx-large;
    float: right;
    background-color: transparent;
    margin: 0;
    border: none;
}

.close:hover {
    cursor: pointer;
}

.clear {
    clear: both;
}

@media screen and (min-width:1200px) {
    .popup {
        width: 22%;
        left: 39%;
    }
}

@media screen and (min-width:800px) and (max-width: 1199px) {
    .popup {
        width: 34%;
        left: 33%;
    }
}

@media screen and (min-width:500px) and (max-width:799px) {
    .popup {
        width: 50%;
        left: 25%;
    }
}

@media screen and (max-width: 499px) {
    .popup {
        width: 80%;
        left: 10%;
    }
}